/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #FFFFFF; /* Texto blanco */
    background-color: #000000; /* Fondo negro */
}

/* Encabezado */
header {
    background-color: #990000; /* Rojo oscuro para el encabezado */
    color: #FFFFFF; /* Texto blanco */
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF; /* Rojo brillante para el título principal */
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    text-align: center;
}

/* Cuerpo principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 25px;
}

/* Estilos para títulos de segundo nivel */
h2 {
    color: #FF0000; /* Rojo brillante */
    font-size: 1.8em;
    border-bottom: 2px solid #FF0000; /* Línea decorativa */
    padding-bottom: 5px;
    margin-top: 25px;
}

/* Listas */
ul {
    list-style-type: none; /* Elimina viñetas */
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    font-size: 1.2em;
    color: #FF3333; /* Rojo claro para enlaces de listas */
    text-decoration: none;
}

/* Párrafos */
p {
    font-size: 1.1em;
    margin: 10px 0;
    text-align: justify;
}

/* Pie de página */
footer {
    background-color: #990000; /* Rojo oscuro */
    color: #FFFFFF; /* Texto blanco */
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Imágenes */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5); /* Sombra con rojo */
    width: 510px;
    height: 400px;
}

/* Estilos para texto en negrita */
b {
    color: #FF0000; /* Rojo destacado */
}

/* Botón de retorno */
a h2 {
    font-size: 1.3em;
    color: #FFFFFF; /* Blanco para el texto del botón */
    background-color: #FF0000; /* Rojo brillante */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Sombra oscura */
}

