body{
    width: 1200px;
    margin: auto;
    
}

table{
    margin: auto;
    margin-top: 100px;

}

h1{
    color: white; /*Cambio el color del texto a blanco*/
    text-align: center;/*Pongo el texto centrado*/
    font-family: Arial, Helvetica, sans-serif; /*Le aplico al texto una fuente especifica*/
    font-size: 40px; /*Le aplico al texto un tamaño específico*/    
    background-color: blue; /*El color del recuadro*/
    border-radius: 15px; /*El borde del recuadro, que seria con las esquinas redondas*/
    padding: 25px; /*EL espacio que agrego alrededor del trexto en el cuadro*/

}

.caja{
    width: 400px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
}

.caja1{
    background-color: antiquewhite;
    border-color: black;
    border-style: dotted;
    border-width: 5px;
    padding-top: 10%;
    padding-left: 10%
}

.caja2{
    background-color: yellow;
    border-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-width: 70px;
    border-left-color: black;
    border-style: solid;
    width:200px;
    height: 200px;
    margin: auto;
}

.caja3{
    background-color: coral;
    border-style: groove;
    border-width: 20px;
    border-color: coral;
}

.caja4{
    border-style: inset;
    background-color: #00ff78;
    border-width: 20px;
    border-top-right-radius: 30px;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: green;
    border-right-color: green;
    border-bottom-left-radius: 30px;
}

.caja5{
    height: 400px;
    border-radius: 50%;
    background-color: aqua;
    border-style: dashed;
    border-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja6{
    background-color: violet;
    border-style: inset;
    border-width: 20px;
    border-left-color: blue;
    border-top-color: blue;
    border-right-color: black;
    border-bottom-color: black;
}

.caja7{
    background:linear-gradient(red,orangered,yellow);
    border-bottom-width: 20px;
    border-color: red;
    border-style: solid;
}

.caja8{
    border-width: 20px;
    border-top-color: yellow;
    border-left-color: blue;
    border-bottom-color: red;  
    border-right-color: green;
    background-color: white;
    border-style: solid;
}

.caja9{
    border: 30px double;
    border-radius: 50px;
    border-color: blueviolet;

}

footer{ 
    margin-top: 100px;
    text-align: center;
}

footer a{
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    font-weight: bold; /* Hace el texto de los enlaces en negrita */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px; /*Tamaño de la letra*/
    color: white; /*color de la letra*/ 
    background-color: blue; /*El color del recuadro*/
    border-radius: 15px; /*El borde del recuadro, que seria con las esquinas redondas*/
    padding: 25px; /*EL espacio que agrego alrededor del trexto en el cuadro*/
    margin-top: 20px; 
}