/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #111; /* Fondo oscuro */
    color: #ddd; /* Texto claro */
}

/* Estilo del header y footer */
header, footer {
    background: linear-gradient(to right, #000, #222); /* Degradado negro */
    color:  #ddd; /* Texto dorado */
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid  #f4c842; /* Línea dorada */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ddd; /* Enlaces dorados */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff; /* Cambio a blanco en hover */
}

/* Secciones */
section {
    margin: 20px 0;
    background-color: #222; /* Fondo negro suave */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

section header {
    border-bottom: 2px solid #444; /* Borde gris oscuro */
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #ddd; /* Títulos dorados */
}

article {
    margin-bottom: 20px;
    background-color: #333; /* Fondo gris oscuro */
    padding: 15px;
    border-radius: 5px;
    color: #ddd; /* Texto claro */
}

article h3 {
    color:  #ddd; /* Títulos de artículo dorados */
}

article p {
    color: #ccc; /* Texto un poco más claro */
}

/* Medios */
iframe, video, audio {
    display: block;
    margin: 20px auto;
    border: 2px solid #f4c842; /* Borde dorado en medios */
    border-radius: 10px;
}

/* Estilo del logo */
footer img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(244, 200, 66, 0.7); /* Sombra dorada alrededor del logo */
}

/* Estilos del footer */
footer {
    border-top: 3px solid #f4c842; /* Línea dorada superior */
}

footer p {
    color:  #ddd; /* Texto blanco en el footer */
}

/* Hover para botones y enlaces */
button, a {
    transition: color 0.3s ease-in-out;
}

button:hover, a:hover {
    color: #fff; /* Cambio a blanco en hover */
}
