.rojo{
    background-color:red;
    height: 100%;
    width: 27%;
    float: left;

}

.negro{
    background-color:black;
    height:35%;
    width: 73%;
    float: right;
}

.verde{
    background-color:forestgreen;
    height:35%;
    width: 73%;
    float: right;
}

.blanco{
    background-color:white;
    height:30%;
    width: 73%;
    float: right;
}

.verde1{
    background-color:forestgreen;
    height: 100%;
    width: 20%;
    float: left;

}

.rojo1{
    background-color:red;
    height:35%;
    width: 80%;
    float: right;
}

.azul1{
    background-color:blue;
    height:35%;
    width: 80%;
    float: right;
}

.centro1{
    background-color:white;
    height:30%;
    width: 80%;
    float: right;
}

.blanco2{
    background-color:white;
    height: 100%;
    width: 30%;
    float: left;

}

.rojo2{
    background-color:red;
    height:50%;
    width: 70%;
    float: right;
}

.verde2{
    background-color:forestgreen;
    height:50%;
    width: 70%;
    float: right;
}

.verde3{
    background-color:forestgreen;
    height: 100%;
    width: 33%;
    float: left;

}

.rojo3{
    background-color:red;
    height:50%;
    width: 67%;
    float: right;
}

.amarillo3{
    background-color:gold;
    height:50%;
    width: 67%;
    float: right;
}

.verdearriba4{
    background-color:forestgreen;
    height:34%;
    width: 100%;
    float: left;
}
.verdeizq4{
    background-color:forestgreen;
    height:66%;
    width: 30%;
    float: left;
}
.verdecentro4{
    background-color:forestgreen;
    height:66%;
    width: 34%;
    float: left;
}
.rojo4{
    background-color:red;
    height:66%;
    width: 12%;
    float: left;
}
.negro4{
    background-color:black;
    height:66%;
    width: 12%;
    float: left;
}
.naranja4{
    background-color:darkorange;
    height:66%;
    width: 12%;
    float: right;
}

.punto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-left: 79px;
    width: 90px;
    height: 90px;
    background-color:red;
    border-radius: 50%;
}

.rojoarriba{
    background-color:red;
    height:28%;
    width: 100%;
    float: left;
}

.rojoabajo{
    background-color:red;
    height:28%;
    width: 100%;
    float: right;
}
.centro2{
    background-color:darkblue;
    height:44%;
    width: 100%;
    float: left;
}

.punto2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-left: 95px;
    width: 60px;
    height: 60px;
    background-color:white;
    border-radius: 50%;
}

.bandera {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin: 0;
    position: relative;
}

.cuadroe {
    width: 120px;
    height: 80px;
    position: absolute;
    background-color: #003b6f;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    top: 0;
    left: 0;
    z-index: 2;
}

.estrella {
    width: 8px;
    height: 8px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin: auto;
}

.franja-roja {
    width: 100%;
    height: calc(150px / 13);
    position: absolute;
    background-color: #B22234;
}

.franja-blanca {
    width: 100%;
    height: calc(150px / 13);
    position: absolute;
    background-color: white;
}

.franja-blanca-1 {
    top: calc(150px / 13 * 1);
}

.franja-roja-2 {
    top: calc(150px / 13 * 2);
}

.franja-blanca-2 {
    top: calc(150px / 13 * 3);
}

.franja-roja-3 {
    top: calc(150px / 13 * 4);
}

.franja-blanca-3 {
    top: calc(150px / 13 * 5);
}

.franja-roja-4 {
    top: calc(150px / 13 * 6);
}

.franja-blanca-4 {
    top: calc(150px / 13 * 7);
}

.franja-roja-5 {
    top: calc(150px / 13 * 8);
}

.franja-blanca-5 {
    top: calc(150px / 13 * 9);
}

.franja-roja-6 {
    top: calc(150px / 13 * 10);
}

.franja-blanca-6 {
    top: calc(150px / 13 * 11);
}

.franja-roja-7 {
    top: calc(150px / 13 * 12);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: darkblue;
}


.f1 {
    background-color: white;
    width: 800px;
    height: 60px;
    bottom: -163px;
    left: -100px;
    position: relative;
    transform: rotate(33deg);
}

.f2 {
    background-color: white;
    width: 800px;
    height: 60px;
    bottom: -107px;
    left: -90px;
    position: relative;
    transform: rotate(-33deg);
}

.f3 {
    background-color: red;
    width: 350px;
    height: 18px;
    bottom: 32px;
    left: -43px;
    position: relative;
    transform: rotate(33deg);
}

.f4 {
    background-color: red;
    width: 350px;
    height: 18px;
    bottom: -158px;
    left: 300px;
    position: relative;
    transform: rotate(33deg);
}

.f5 {
    background-color: red;
    width: 450px;
    height: 18px;
    bottom: 105px;
    left: 300px;
    position: relative;
    transform: rotate(-33deg);
}

.f6 {
    background-color: red;
    width: 350px;
    height: 18px;
    bottom: -117px;
    left: -40px;
    position: relative;
    transform: rotate(-33deg);
}

.f7 {
    top: -23px;
    background-color: white;
    width: 800px;
    height: 60px;
    position: relative;
}

.f8 {
    background-color: white;
    width: 800px;
    height: 60px;
    bottom: -117px;
    left: -93px;
    position: relative;
    transform: rotate(90deg);
}

.f9 {
    background-color: red;
    top: -132px;
    width: 800px;
    height: 40px;
    position: relative;

}

.f10 {
    left: -93px;
    background-color: red;
    top: -120px;
    width: 800px;
    height: 40px;
    position: relative;
    transform: rotate(90deg);
}






