body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    color: white; /*Cambio el color del texto a blanco*/
    text-align: center;/*Pongo el texto centrado*/
    font-family: Arial, Helvetica, sans-serif; /*Le aplico al texto una fuente especifica*/
    font-size: 40px; /*Le aplico al texto un tamaño específico*/    
    background-color: blue; /*El color del recuadro*/
    border-radius: 15px; /*El borde del recuadro, que seria con las esquinas redondas*/
    padding: 25px; /*EL espacio que agrego alrededor del trexto en el cuadro*/
}

.tablero{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
}

.blanca {
    background-color: #f0d9b5;
}

.negra {
    background-color: #b58863;
}

.casilla{
    width: 100px;
    height: 100px;
    margin: 0;
}

.fila{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer{ 
    margin-top: 100px;
    text-align: center;
}

footer a{
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    font-weight: bold; /* Hace el texto de los enlaces en negrita */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px; /*Tamaño de la letra*/
    color: white; /*color de la letra*/ 
    background-color: blue; /*El color del recuadro*/
    border-radius: 15px; /*El borde del recuadro, que seria con las esquinas redondas*/
    padding: 25px; /*EL espacio que agrego alrededor del trexto en el cuadro*/
    margin-top: 20px; 
}