body{
    width: 1000px; /*Define el ancho para la pagina*/
    margin: auto; /*Centra el contenido horizontalmente*/
    background-color: white; /*Color del fondo de la pagina un gris */
}
h1{
    text-align: center;/*Pongo el texto centrado*/
    font-size: 40px; /*Le aplico al texto un tamaño específico*/
    background-color: red; /*El color del recuadro*/
    border-radius: 15px; /*El borde del recuadro, que seria con las esquinas redondas*/
    padding: 25px; /*EL espacio que agrego alrededor del trexto en el cuadro*/
}
ul{
    list-style-type: none; /* Elimina los puntos de la lista por defecto */
    padding: 0px; /*EL espacio que agrego alrededor del texto en el cuadro*/
    margin: 0 auto; /*Centro la lista alrededor del contenido*/
    text-align: center; /*Pongo el texto centrado*/
    margin-top: 80px; /*Pongo un margen encima de la lista para separarla del titulo*/

}
li{
    border-radius: 40px; /*El borde del recuadro, que seria con las esquinas redondas*/
    background-color: red; /*El color del recuadro*/
    padding: 10px; /*EL espacio que agrego alrededor del trexto en el cuadro*/
    margin-bottom: 25px; /*Pongo un margen debajo de cada elemento para separarlos */
    display: flex;  /* Organiza los elementos en una fila horizontal */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 50px; /*Pongo un margen debajo de cada elemento de la lista*/
} 
a{
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    color: black; /*Color de la letra*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Fuente de la letr4a*/
}